.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#timer {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-left: 10px;
}

.todo {
    display: flex;
}

.select {
    padding-left: 10%;
    margin-bottom: 5%;
}

.done {
    display: flex;
}

.submit {
    display: flex;
}

.actions-container {
    border-top: 5px dotted;
    width: 100%;
}